/* Styl2 barvy & erbová elegance */
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f5f5;
  color: #333333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #e0e0ff;
  padding: 2em;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #dcd0ff;
}

nav li {
  margin: 0 1em;
}

nav a {
  text-decoration: none;
  color: #333366;
  font-weight: bold;
}

main {
  padding: 2em;
  background-color: #ffffff;
}

footer {
  text-align: center;
  padding: 1em;
  background-color: #e0e0ff;
  color: #777;
}
